<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.montanafoodhub.Helena_Hub"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"
              android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name"
                 android:theme="@style/AppTheme"
                 android:icon="@drawable/ic_launcher"
                 android:debuggable="true"
                 android:name="org.montanafoodhub.app.HubApplication">

        <activity android:name="org.montanafoodhub.app.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.montanafoodhub.app.producer.ProducerDetailActivity"
                  android:parentActivityName="org.montanafoodhub.app.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.montanafoodhub.app.MainActivity"/>
        </activity>

        <activity android:name="org.montanafoodhub.app.restaurant.RestaurantDetailActivity"
                  android:parentActivityName="org.montanafoodhub.app.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.montanafoodhub.app.MainActivity"/>
        </activity>

        <activity android:name="org.montanafoodhub.app.product.ProductCategoryDetailActivity"
                  android:parentActivityName="org.montanafoodhub.app.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.montanafoodhub.app.MainActivity"/>
        </activity>

        <activity android:name="org.montanafoodhub.app.csa.CSADetailActivity"
            android:parentActivityName="org.montanafoodhub.app.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.montanafoodhub.app.MainActivity"/>
        </activity>


        <service android:name="org.montanafoodhub.app.service.HubInitService"
                 android:exported="false">
         </service>

        <!--<provider android:name="org.montanafoodhub.app.provider.ItemProvider"-->
                  <!--android:authorities="org.montanafoodhub.provider.itemprovider"-->
                  <!--android:exported="false"/>-->

        <!--<service android:name="org.montanafoodhub.app.service.HubUpdateService"-->
                 <!--android:exported="false"/>-->

    </application>
</manifest> 
